services:

  db:
    image: postgres:15-alpine
    container_name: concorsi-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    # --- AGGIUNTO: Etichetta per Watchtower ---
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  redis:
    image: redis:7-alpine
    container_name: concorsi-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    # --- AGGIUNTO: Etichetta per Watchtower ---
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  backend:
    container_name: concorsi-backend
    image: matt3010/trova-concorsi:latest
    ports:
      - "3000:3000"
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      ACTIVE_STRATEGIES: ${ACTIVE_STRATEGIES}
      PORT: 3000
      NOTIFICATION_STRATEGIES: ${NOTIFICATION_STRATEGIES}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_CHAT_ID: ${TELEGRAM_CHAT_ID}
      MY_PROXY_URL: ${MY_PROXY_URL}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: concorsi-watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    # --- AGGIUNTO: Dice a Watchtower di aggiornare solo i container con etichetta ---
    environment:
      WATCHTOWER_LABEL_ENABLE: "true"

volumes:
  postgres_data:
    driver: local